@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root {
    --open_sans: 'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --Pink: hsl(322, 100%, 66%);
    --Light_Pink: hsl(321, 100%, 78%);
    --Light_Red: hsl(0, 100%, 63%);
    --Very_Dark_Cyan: hsl(192, 100%, 9%);
    --Very_Pale_Blue: hsl(207, 100%, 98%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: var(--open_sans);
    min-height: 100vh;
    width: 100vw;
}

.hero {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 4rem;
}

.header img {
    cursor: pointer;
}

.headerBtn {
    background: transparent;
    border: 1px solid var(--Pink);
    padding: 8px 20px;
    border-radius: 50px;
    color: var(--Pink);
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    box-shadow: var(--Pink) 0 0 1px 1px;
}

.headerBtn:hover {
    opacity: .7;
}

.hero_body {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-block: 5rem 3rem;
    gap: 6rem;
}

.hero_info {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: var(--Very_Dark_Cyan);
    align-items: center;
    overflow: visible;
}

.hero_info h1 {
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 100;
}

.hero_info p {
    margin-block: 2rem;
    font-size: 20px;
    line-height: 1.5;
    width: 40%;
}

.heroBtn {
    font-size: 20px;
    font-family: var(--open_sans);
    background-color: var(--Pink);
    color: var(--Very_Pale_Blue);
    border-radius: 50px;
    padding: 1.5rem 5rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .3s ease;
}

h1 {
    font-size: 40px;
    font-family: var(--poppins);
    color: var(--Very_Dark_Cyan);
}

p {
    font-size: 16px;
    line-height: 1.7;
}

.heroBtn:hover {
    opacity: .7;
}

.hero_footer {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 6rem;
    color: var(--Very_Dark_Cyan);
}

.hf h1 {
    font-size: 96px;
}

.hf p {
    font-size: 24px;
    opacity: .5;
    text-align: center;
}

.hero2::before {
    content: '';
    display: block;
    width: 100%;
    height: 112px;
    background: url('./images/bg-section-top-mobile-1.svg') no-repeat center top #fff;
    background-size: 100% 112px;
}

.hero2::after {
    content: '';
    display: block;
    width: 100%;
    height: 112px;
    background: url('./images/bg-section-bottom-mobile-1.svg') no-repeat center top #fff;
    background-size: 100% 112px;
}

.hero4::before {
    content: '';
    display: block;
    width: 100%;
    height: 112px;
    background: url('./images/bg-section-top-mobile-2.svg') no-repeat center top #fff;
    background-size: 100% 112px;
}

.hero4::after {
    content: '';
    display: block;
    width: 100%;
    height: 112px;
    background: url('./images/bg-section-bottom-mobile-2.svg') no-repeat center top #fff;
    background-size: 100% 112px;
}



@media(min-width:992px) {
    .hero2::before {
        background: url('./images/bg-section-top-desktop-1.svg') #fff;
        background-size: 100% 165px;
        height: 165px;
    }

    .hero2::after {
        background: url('images/bg-section-bottom-desktop-1.svg') #fff;
        background-size: 100% 169px;
        height: 169px;
    }

    .hero4::before {
        background: url('./images/bg-section-top-desktop-2.svg') #fff;
        background-size: 100% 165px;
        height: 165px;
    }

    .hero4::after {
        background: url('images/bg-section-bottom-desktop-2.svg') #fff;
        background-size: 100% 169px;
        height: 169px;
    }
}


.hero2,
.hero4 {
    background: var(--Very_Pale_Blue);
}

.hero_inner {
    display: flex;
    align-items: center;
    padding: 5rem 6rem;
    gap: 8rem;
}

.hero_inner img {
    width: 45%;
}

.hero2_info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
}

#hero3_inner {
    margin-top: 6rem;
}

.build {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    gap: 2rem;
}