@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root {
    --open_sans: 'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --Pink: hsl(322, 100%, 66%);
    --Light_Pink: hsl(321, 100%, 78%);
    --Light_Red: hsl(0, 100%, 63%);
    --Very_Dark_Cyan: hsl(192, 100%, 9%);
    --Very_Pale_Blue: hsl(207, 100%, 98%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: var(--open_sans);
    min-height: 100vh;
    width: 100vw;
}

.hero {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 4rem;
}

.header img {
    cursor: pointer;
}

.headerBtn {
    background: transparent;
    border: 1px solid var(--Pink);
    padding: 8px 20px;
    border-radius: 50px;
    color: var(--Pink);
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    box-shadow: var(--Pink) 0 0 1px 1px;
}

.headerBtn:hover {
    opacity: .7;
}

.hero_body {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-block: 5rem 3rem;
    gap: 6rem;
}

.hero_info {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: var(--Very_Dark_Cyan);
    align-items: center;
    overflow: visible;
}

.hero_info h1 {
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 100;
    padding-inline: 2rem;
}

.hero_info p {
    margin-block: 2rem;
    padding-inline: 2rem;
    font-size: 20px;
    line-height: 1.5;
    max-width: 600px;
}

.heroBtn {
    font-size: 20px;
    font-family: var(--open_sans);
    background-color: var(--Pink);
    color: var(--Very_Pale_Blue);
    border-radius: 50px;
    padding: 1.5rem 5rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .3s ease;
}

h1 {
    font-size: 40px;
    font-family: var(--poppins);
    color: var(--Very_Dark_Cyan);
}

p {
    font-size: 16px;
    line-height: 1.7;
}

.heroBtn:hover {
    opacity: .7;
}

.hero_footer {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 6rem;
    color: var(--Very_Dark_Cyan);
}

.hf h1 {
    font-size: 96px;
}

.hf p {
    font-size: 24px;
    opacity: .5;
    text-align: center;
}

.hero2::before {
    content: '';
    display: block;
    width: 100%;
    height: 112px;
    background: url('./images/bg-section-top-mobile-1.svg') no-repeat center top #fff;
    background-size: 100% 112px;
}

.hero2::after {
    content: '';
    display: block;
    width: 100%;
    height: 112px;
    background: url('./images/bg-section-bottom-mobile-1.svg') no-repeat center top #fff;
    background-size: 100% 112px;
}

.hero4::before {
    content: '';
    display: block;
    width: 100%;
    height: 112px;
    background: url('./images/bg-section-top-mobile-2.svg') no-repeat center top #fff;
    background-size: 100% 112px;
}

.hero4::after {
    content: '';
    display: block;
    width: 100%;
    height: 112px;
    background: url('./images/bg-section-bottom-mobile-2.svg') no-repeat center top #fff;
    background-size: 100% 112px;
}



@media(min-width:992px) {
    .hero2::before {
        background: url('./images/bg-section-top-desktop-1.svg') #fff;
        background-size: 100% 165px;
        height: 165px;
    }

    .hero2::after {
        background: url('./images/bg-section-bottom-desktop-1.svg') #fff;
        background-size: 100% 169px;
        height: 169px;
    }

    .hero4::before {
        background: url('./images/bg-section-top-desktop-2.svg') #fff;
        background-size: 100% 165px;
        height: 165px;
    }

    .hero4::after {
        background: url('./images/bg-section-bottom-desktop-2.svg') #fff;
        background-size: 100% 169px;
        height: 169px;
    }
}


.hero2,
.hero4 {
    background: var(--Very_Pale_Blue);
}

.hero_inner {
    display: flex;
    align-items: center;
    padding: 5rem 6rem;
    gap: 8rem;
}

.hero_inner img {
    width: 45%;
}

.hero2_info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
}

#hero3_inner {
    margin-top: 6rem;
}

.build {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    gap: 2rem;
}

.build h1 {
    padding-inline: 1rem;
}

.footer::before {
    content: '';
    display: block;
    width: 100%;
    height: 169px;
    background: url('./images/bg-footer-top-desktop.svg') no-repeat center top #fff;
    background-size: 100% 169px;
}

.footer {
    background: var(--Very_Dark_Cyan);
    color: var(--Very_Pale_Blue);
}

.footer_inner {
    min-height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 4rem 6rem 0 6rem;
}

.fif {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.7rem;
    font-size: 14px;
    font-weight: 500;
}

.lorem {
    width: 45%;
    line-height: 1.7;
}

.fifs {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icons {
    margin-top: 3rem;
    display: flex;
    gap: 1.5rem;
    padding-block: .2rem;
}

.icons i {
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    transition: .3s ease;
    overflow: hidden;
}

.icons i:hover {
    transform: scale(1.15);
}

.fif img {
    filter: brightness(0) invert(1) grayscale(1);
}


@media(min-width : 1200px) {
    #fis {
        width: 50%;
    }
}

#fis h2 {
    font-size: 24px;
    text-transform: uppercase;
}

.lorem2 {
    width: 60%;
    line-height: 1.7;
}

.form {
    width: 100%;
    display: flex;
    gap: 1.5rem;
}

.form input {
    width: 60%;
    padding: .8rem 2rem;
    font-family: inherit;
    font-size: 16px;
    color: var(--Very_Pale_Blue);
    border: none;
    outline: none;
    border-radius: 5px;
}

.footerBtn {
    width: 30%;
    padding: .8rem 2rem;
    background-color: var(--Pink);
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    border-radius: 5px;
    transition: .3s ease;
}

.footerBtn:hover {
    background-color: var(--Light_Pink);
}

.attribution {
    text-align: center;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    padding: .2rem 1rem;
    background-color: var(--Very_Dark_Cyan);
    width: 100%;
}

.attribution a {
    color: orange;
}

@media(max-width:1065px) {
    .hero_body img {
        width: 95%;
    }

    .hero_footer {
        flex-direction: column;
        align-items: start;
        gap: 2rem;
    }

    .footer::before {
        background: url('./images/bg-footer-top-mobile.svg') #fff;
        background-size: 100% 80px;
        height: 80px;
    }

    .footer_inner {
        flex-direction: column-reverse;
        padding: 3rem 2rem;
        gap: 4rem;
    }

    .lorem,
    .lorem2 {
        width: 100%;
    }

    .hero_inner {
        padding: 5rem 2rem;
    }
}

@media(max-width:855px) {
    .hero_inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero2_info,
    .hero_inner img {
        width: 90%;
    }

    #hero3_inner {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media(max-width: 550px) {
    .header {
        padding: 4rem 1rem;
    }

    .header img {
        width: 150px;
    }

    .headerBtn {
        font-size: 12px;
        padding: 6px 14px;
    }

    .hero_info h1 {
        font-size: 25px;
        padding-inline: 1rem;
    }

    .hero_info p {
        padding-inline: 1rem;
    }

    .heroBtn {
        font-size: 14px;
        padding: 1rem 3rem;
    }

    .hf h1 {
        font-size: 50px;
    }

    .hf p {
        font-size: 18px;
    }

    .hero_footer {
        text-align: center;
        align-items: center;
    }

    .hero2_info {
        width: 95%;
    }

    .hero_inner {
        padding: 5rem 1rem;
    }

    h1 {
        font-size: 30px;
    }

    .form {
        flex-direction: column;
        align-items: end;
    }

    .form input {
        width: 100%;
        padding: .8rem;
    }

    .footerBtn {
        width: 150px;
    }

    .footerLogo {
        width: 60%;
    }
}